@page "/property/propertylist/{userid}"
@using WebPWA.Shared
@using Client.ViewModel
@inject PropertyViewModel _propertyViewModel

<h3>Danh sách tin đăng của bạn</h3>

<table id="customers">
    <tr>
        <th>STT</th>
        <th>Trạng thái</th>
        <th>Tiêu đề</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày hết hạn</th>
    </tr>
    @if (lstProperty != null && lstProperty.Count > 0)
    {
        int i = 0;
        foreach (Property p in lstProperty)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@Property.StatusToString(p.Status)</td>
                <td>@p.Title</td>
                <td>@p.ValidityDateFrom.ToString("dd/MM/yyyy")</td>
                <td>@p.ValidityDateTo.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    }
</table>
@code {
    [Parameter]
    public string UserID { get; set; }

    Guid guidID;
    public List<Property> lstProperty = new List<Property>();

    protected override async Task OnInitializedAsync()
    {
        guidID = Guid.Parse(UserID);
        lstProperty = await _propertyViewModel.GetPropertyByUserID(guidID);
    }
}
